body {
    background-color: #ECF2D5;
    border: 20px solid #A84888;
}

button {
    border: 20px solid #2E4628;
}

label {
    border: 23px solid #2E4628;
}

input {
    border: 20px solid #2E4628;
}