
<form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="user-form">
    <label for="firstName">First Name:</label>
    <input id="firstName" formControlName="firstName" type="text" />

    <label for="lastName">Last Name:</label>
    <input id="lastName" formControlName="lastName" type="text" />

    <label for="dob">Date of Birth:</label>
    <input id="dob" formControlName="dob" type="text" />

    <label for="email">Email:</label>
    <input id="email" formControlName="email" type="text" />

    <label for="gamertag">Gamertag:</label>
    <input id="gamertag" formControlName="gamertag" type="text" />

    <label for="consoleId">Preferred Console:</label>
    <input id="consoleId" formControlName="consoleId" type="text" />

    <label for="aboutUser">About User:</label>
    <input id="aboutUser" formControlName="aboutUser" type="text" />

    <label for="gameIds">Game IDs (comma separated):</label>
    <input id="gameIds" formControlName="gameIds" type="text" />

    <button type="submit" [disabled]="isSubmitting()">Add User</button>
</form>
